{
  "openapi": "3.0.0",
  "info": {
    "title": "Reservation API",
    "version": "1.0.0",
    "description": "API for retrieving unavailable time slots."
  },
  "servers": [
    {
      "url": "https://backend.moorpark.makerspace.home.kg.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/search-date": {
      "post": {
        "summary": "Get unavailable time slots",
        "parameters": [
          {
            "name": "fullDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-11-28T08:00:00.000Z"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of unavailable time slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "selectedDate": {
                      "type": "string",
                      "example": "2024-11-28"
                    },
                    "devices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deviceId": {
                            "type": "string",
                            "example": "deviceA"
                          },
                          "deviceName": {
                            "type": "string",
                            "example": "Device A"
                          },
                          "timeWindows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "startTime": {
                                  "type": "string",
                                  "example": "09:00"
                                },
                                "endTime": {
                                  "type": "string",
                                  "example": "10:00"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
